.inteco-now {
    position: relative;
}

.inteco-now::before {
    position: absolute;
    content: "";
    bottom: -55px;
    right: 0;
    width: 917px;
    height: 2px;
    background-color: $decor-grey;
}

.inteco-now__wrapper {
    display: flex;
    padding-left: 60px;
}

.inteco-now__text {
    width: 38%;
    margin-right: 83px;
}

.inteco-now__desc {
    display: flex;
    width: 50%;
}

.inteco-now__desc dd {
    margin-left: 0;
}

.inteco-now__desc-block1 {
    margin-right: 72px;
}

.inteco-now__desc-block1 span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

.inteco-now__desc-block2 span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
}

.inteco-now__desc-block1 dt b {
    font-size: 42px;
    line-height: 48px;
}

.inteco-now__desc-block2 dt b {
    font-size: 42px;
    line-height: 48px;
}

.inteco-now__box {
    position: relative;
    display: flex;
    margin-top: 57px;
}

.inteco-now__box::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 300px;
    height: 2px;
    background-color: $decor-grey;
}

.inteco-now__box::after {
    position: absolute;
    content: "";
    top: 0;
    left: 297px;
    z-index: 1;
    width: 2px;
    height: 625px;
    background-color: $decor-grey;
}

.inteco-now__list {
    position: absolute;
    top: 7%;
    left: 1px;
    z-index: 2;
    width: 37%;
    margin: 0;
    padding: 0;
    padding-top: 68px;
    padding-bottom: 28px;
    padding-left: 60px;
    padding-right: 40px;
    list-style: none;
    background-color: $white;
}

.inteco-now__item {
    position: relative;
    margin-bottom: 15px;
}

.inteco-now__item:last-child {
    margin-bottom: 0;
}

.inteco-now__item::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -27px;
    width: 17px;
    height: 2px;
    background-color: $dark-blue;
} 

.inteco-now__img {
    max-width: 70%;
    margin-left: 30%;
}