.page-main__projects {
    margin-top: 104px;
}

.page-main__inteco-now {
    margin-top: 80px;
}

.page-main__basic-cause {
    margin-top: 95px;
    padding-left: 60px;
}

.page-main__perks {
    margin-top: 104px;
}