.perks {
    position: relative;
    min-height: 1030px;
}

.perks::before {
    position: absolute;
    content: "";
    top: -36px;
    left: 0;
    width: 300px;
    height: 2px;
    background-color: $decor-grey;
}

.perks::after {
    position: absolute;
}

.perks__title {
    text-align: center;
}

.perks__wrapper {
    position: relative;
    display: flex;
    margin-top: 72px;
}

.perks__list-col {
    position: absolute;
    top: -41px;
    right: -33px;
    width: 470px;
    padding-top: 50px;
    padding-bottom: 53px;
    padding-left: 50px;
    padding-right: 59px;
    background-color: $white;
}

.perks__list {
    min-width: 360px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.perks__item {
    position: relative;
    margin-bottom: 15px;
}

.perks__item:last-child {
    margin-bottom: 15px;
}

.perks__item::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -27px;
    width: 17px;
    height: 2px;
    background-color: $dark-blue;
}

.perks__link {
    position: absolute;
    bottom: -160px;
    left: 0;
}