.perks {
    position: relative;
    min-height: 1030px;
}

.perks::before {
    position: absolute;
    content: "";
    top: -36px;
    left: 0;
    width: 236px;
    height: 2px;
    background-color: $decor-grey;

    @media (max-width: $mobile-width) {
        width: 11px;
    }
}

.perks::after {
    position: absolute;
    content: "";
    top: -35px;
    left: 234px;
    z-index: 1;
    width: 2px;
    height: 1065px;
    background-color: $decor-grey;

    @media (max-width: $mobile-width) {
        left: 10px;
    }
}

.perks__title {
    text-align: center;

    @media (max-width: $mobile-width) {
        width: 250px;
        margin-left: 30px;
        text-align: left;
    }
}

.perks__wrapper {
    position: relative;
    display: flex;
    margin-top: 72px;

    @media (max-width: $mobile-width) {
        flex-direction: column-reverse;
        margin-top: 32px;
    }
}

.perks__img-col {
    z-index: 2;
}

.perks__img {
    @media (max-width: $mobile-width) {
        width: 240px;
        height: 202px;
    }
}

.perks__list-col {
    position: absolute;
    top: -41px;
    right: -33px;
    z-index: 3;
    width: 470px;
    padding-top: 50px;
    padding-bottom: 53px;
    padding-left: 75px;
    padding-right: 54px;
    background-color: $white;

    @media (max-width: $mobile-width) {
        top: 157px;
        right: 0;
        width: 280px;
        padding-top: 33px;
        padding-bottom: 1px;
        padding-left: 39px;
        padding-right: 20px;
    }
}

.perks__list {
    width: 360px;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (max-width: $mobile-width) {
        width: 240px;
    }
}

.perks__item {
    position: relative;
    margin-bottom: 15px;

    @media (max-width: $mobile-width) {
        width: 240px;
        font-size: 12px;
        line-height: 18px;
    }
}

.perks__item:last-child {
    margin-bottom: 15px;
}

.perks__item::before {
    position: absolute;
    content: "";
    top: 10px;
    left: -27px;
    width: 17px;
    height: 2px;
    background-color: $dark-blue;
}

.perks__link {
    position: absolute;
    bottom: -160px;
    left: 60px;
    width: 20px;
    height: 18px;
    background-image: url("../img/arrows.png");
    background-repeat: no-repeat;
}