.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.projects::before {
    position: absolute;
    content: "";
    bottom: -29px;
    right: 2px;
    width: 958px;
    height: 2px;
    background-color: $decor-grey;

    @media (max-width: $mobile-width) {
        width: 254px;
    }
}

.projects__title {
    margin-left: 24%;

    @media (max-width: $mobile-width) {
        margin-left: 10%;
    }
}

.projects__text {
    width: 59%;
    margin-left: 24%;
    margin-bottom: 0;

    @media (max-width: $mobile-width) {
        width: 83%;
        margin-left: 10%;
    }
}

.projects__text {
    @media (max-width: $mobile-width) {
        font-size: 12px;
        line-height: 18px;
    }
}

.projects__wrapper {
    position: relative;
    display: flex;
    margin-top: 39px;

    @media (max-width: $mobile-width) {
        width: 280px;
        height: 168px;
        background-image: url("../img/pro.jpg");
        background-repeat: no-repeat;
    }
}

.projects__img {
    @media (max-width: $mobile-width) {
        display: none;
    }
}

.projects__block-text {
    position: absolute;
    top: 49px;
    right: -292px;
    width: 50%;
    padding-top: 63px;
    padding-bottom: 43px;
    padding-left: 51px;
    padding-right: 60px;
    background-color: $white;

    @media (max-width: $mobile-width) {
        right: -20px;
        width: 100%;
        padding-top: 28px;
        padding-bottom: 7px;
        padding-left: 20px;
        padding-right: 33px;
    }
}

.projects__block-text::before {
    position: absolute;
    content: "";
    bottom: -53px;
    right: 60px;
    width: 20px;
    height: 18px;
    background-image: url("../img/arrows.png");
    background-repeat: no-repeat;
    cursor: pointer;

    @media (max-width: $mobile-width) {
        display: none;
    }
}

.projects__block-text h3 {
    font-size: 18px;
    line-height: 26px;

    @media (max-width: $mobile-width) {
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
}

.projects__block-text p {
    @media (max-width: $mobile-width) {
        font-size: 12px;
        line-height: 18px;
    }
}

.projects__slogan {
    width: 61%;
    margin-left: 24%;
    margin-top: 57px;
    padding-right: 5%;

    @media (max-width: $mobile-width) {
        width: 69%;
        margin-top: 190px;
        margin-left: 10%;
        font-size: 12px;
        line-height: 18px;
    }
}