.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.projects::before {
    position: absolute;
    content: "";
    bottom: -29px;
    right: 2px;
    width: 958px;
    height: 2px;
    background-color: $decor-grey;
}

.projects__title {
    margin-left: 24%;
}

.projects__text {
    width: 59%;
    margin-left: 24%;
    margin-bottom: 0;
}

.projects__wrapper {
    position: relative;
    display: flex;
    margin-top: 39px;
}

.projects__block-text {
    position: absolute;
    top: 49px;
    right: -292px;
    width: 50%;
    padding-top: 63px;
    padding-bottom: 43px;
    padding-left: 51px;
    padding-right: 60px;
    background-color: $white;
}

.projects__block-text::before {
    position: absolute;
    content: "";
    bottom: -53px;
    right: 60px;
    width: 20px;
    height: 18px;
    background-image: url("../img/arrows.png");
    background-repeat: no-repeat;
    cursor: pointer;
}

.projects__block-text h3 {
    font-size: 18px;
    line-height: 26px;
}

.projects__slogan {
    width: 61%;
    margin-left: 24%;
    margin-top: 57px;
    padding-right: 5%;
}