body {
  min-width: 1250px;
  margin: 0;
  padding: 0;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #1e1e1e; }

*,
*::before,
*::after {
  box-sizing: border-box; }

a {
  text-decoration: none; }

main {
  background-color: #f5f0f0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

.section-title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  color: #4764b0; }

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 120px; }

.main-header__link {
  position: relative; }

.main-header__link::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-image: url("../img/link.png");
  background-repeat: no-repeat; }

.container {
  padding-left: 60px;
  padding-right: 60px; }

.about {
  position: relative; }

.about::before {
  position: absolute;
  content: "";
  top: -123px;
  left: 254px;
  width: 2px;
  height: 1695px;
  background-color: #dfdfdf; }

.about__wrapper {
  display: flex; }

.about__text-col {
  position: absolute;
  top: -23%;
  left: 45%;
  max-width: 550px;
  padding-top: 55px;
  padding-left: 60px;
  padding-right: 30px;
  padding-bottom: 7px;
  background-color: #ffffff;
  transform: translate(-100%, 50%); }

.about__img-col {
  margin-left: auto; }

.projects {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end; }

.projects::before {
  position: absolute;
  content: "";
  bottom: -29px;
  right: 2px;
  width: 958px;
  height: 2px;
  background-color: #dfdfdf; }

.projects__title {
  margin-left: 24%; }

.projects__text {
  width: 59%;
  margin-left: 24%;
  margin-bottom: 0; }

.projects__wrapper {
  position: relative;
  display: flex;
  margin-top: 39px; }

.projects__block-text {
  position: absolute;
  top: 49px;
  right: -292px;
  width: 50%;
  padding-top: 63px;
  padding-bottom: 43px;
  padding-left: 51px;
  padding-right: 60px;
  background-color: #ffffff; }

.projects__block-text::before {
  position: absolute;
  content: "";
  bottom: -53px;
  right: 60px;
  width: 20px;
  height: 18px;
  background-image: url("../img/arrows.png");
  background-repeat: no-repeat;
  cursor: pointer; }

.projects__block-text h3 {
  font-size: 18px;
  line-height: 26px; }

.projects__slogan {
  width: 61%;
  margin-left: 24%;
  margin-top: 57px;
  padding-right: 5%; }

.page-main__projects {
  margin-top: 104px; }

.page-main__inteco-now {
  margin-top: 80px; }

.page-main__basic-cause {
  margin-top: 95px;
  padding-left: 60px; }

.page-main__perks {
  margin-top: 104px; }

.inteco-now {
  position: relative; }

.inteco-now::before {
  position: absolute;
  content: "";
  bottom: -55px;
  right: 0;
  width: 917px;
  height: 2px;
  background-color: #dfdfdf; }

.inteco-now__wrapper {
  display: flex;
  padding-left: 60px; }

.inteco-now__text {
  width: 38%;
  margin-right: 83px; }

.inteco-now__desc {
  display: flex;
  width: 50%; }

.inteco-now__desc dd {
  margin-left: 0; }

.inteco-now__desc-block1 {
  margin-right: 72px; }

.inteco-now__desc-block1 span {
  display: block;
  font-weight: 700;
  text-transform: uppercase; }

.inteco-now__desc-block2 span {
  display: block;
  font-weight: 700;
  text-transform: uppercase; }

.inteco-now__desc-block1 dt b {
  font-size: 42px;
  line-height: 48px; }

.inteco-now__desc-block2 dt b {
  font-size: 42px;
  line-height: 48px; }

.inteco-now__box {
  position: relative;
  display: flex;
  margin-top: 57px; }

.inteco-now__box::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 300px;
  height: 2px;
  background-color: #dfdfdf; }

.inteco-now__box::after {
  position: absolute;
  content: "";
  top: 0;
  left: 297px;
  z-index: 1;
  width: 2px;
  height: 625px;
  background-color: #dfdfdf; }

.inteco-now__list {
  position: absolute;
  top: 7%;
  left: 1px;
  z-index: 2;
  width: 37%;
  margin: 0;
  padding: 0;
  padding-top: 68px;
  padding-bottom: 28px;
  padding-left: 60px;
  padding-right: 40px;
  list-style: none;
  background-color: #ffffff; }

.inteco-now__item {
  position: relative;
  margin-bottom: 15px; }

.inteco-now__item:last-child {
  margin-bottom: 0; }

.inteco-now__item::before {
  position: absolute;
  content: "";
  top: 10px;
  left: -27px;
  width: 17px;
  height: 2px;
  background-color: #4764b0; }

.inteco-now__img {
  max-width: 70%;
  margin-left: 30%; }

.basic-cause__text-block {
  position: relative;
  margin-top: 50px;
  background-color: #ffffff; }

.basic-cause__link::before {
  position: absolute;
  content: "";
  top: 66px;
  right: 47px;
  width: 30px;
  height: 30px;
  background-image: url("../img/arrows.png");
  background-repeat: no-repeat; }

.text-block {
  min-width: 1003px;
  padding-top: 54px;
  padding-left: 49px;
  padding-right: 48px;
  padding-bottom: 64px; }

.text-block__title {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 26px; }

.text-block__lines {
  display: flex;
  width: 100%;
  height: 4px;
  margin-top: 16px; }

.text-block__line-1 {
  width: 8px;
  background-color: #4764b0; }

.text-block__line-2 {
  width: 19px;
  margin-left: 10px;
  background-color: #4764b0; }

.text-block__line-3 {
  width: 30px;
  margin-left: 10px;
  background-color: #4764b0; }

.text-block__line-4 {
  width: 33px;
  margin-left: 10px;
  background-color: #4764b0; }

.text-block__line-5 {
  width: 58px;
  margin-left: 10px;
  background-color: #4764b0; }

.text-block__line-6 {
  width: 90px;
  margin-left: 10px;
  background-color: #4764b0; }

.text-block__line-7 {
  width: 270px;
  margin-left: 10px;
  background-color: #4764b0; }

.text-block__line-8 {
  width: 510px;
  margin-left: 10px;
  background-color: #4764b0; }

.text-block__subheader {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.text-block__text {
  width: 102%;
  margin-top: 44px; }

.perks {
  position: relative;
  min-height: 1030px; }

.perks::before {
  position: absolute;
  content: "";
  top: -36px;
  left: 0;
  width: 236px;
  height: 2px;
  background-color: #dfdfdf; }

.perks::after {
  position: absolute;
  content: "";
  top: -35px;
  left: 234px;
  z-index: 1;
  width: 2px;
  height: 1065px;
  background-color: #dfdfdf; }

.perks__title {
  text-align: center; }

.perks__wrapper {
  position: relative;
  display: flex;
  margin-top: 72px; }

.perks__img-col {
  z-index: 2; }

.perks__list-col {
  position: absolute;
  top: -41px;
  right: -33px;
  z-index: 3;
  width: 470px;
  padding-top: 50px;
  padding-bottom: 53px;
  padding-left: 75px;
  padding-right: 54px;
  background-color: #ffffff; }

.perks__list {
  min-width: 360px;
  margin: 0;
  padding: 0;
  list-style: none; }

.perks__item {
  position: relative;
  margin-bottom: 15px; }

.perks__item:last-child {
  margin-bottom: 15px; }

.perks__item::before {
  position: absolute;
  content: "";
  top: 10px;
  left: -27px;
  width: 17px;
  height: 2px;
  background-color: #4764b0; }

.perks__link {
  position: absolute;
  bottom: -160px;
  left: 60px;
  width: 20px;
  height: 18px;
  background-image: url("../img/arrows.png");
  background-repeat: no-repeat; }

/*# sourceMappingURL=style.css.map */
